<div class="container">
  <h3 class="title">今日概览</h3>

</div>

<table>
  <tr>
    <th>日期</th>
    <th>总用户数</th>
    <th>每日新增用户数</th>
  </tr>
  <% @dates.each_with_index do |date, index| %>
  <tr>
    <td><%= date %></td>
    <td><%= @total_member[index] %></td>
    <td><%= @total_member[index] - @user_before_today[index] %></td>
  </tr>
  <% end %>
</table>