<h3 style="text-align:center">扣款</h3>
<form accept-charset="UTF-8" action="/auth/bbmall/forget_pwd_step1" class="forget_password_step1" id="forget_password_step1" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="+fVb+hVHuuwy7icNDHCJ2O1o+CO+Uwjd3VQKN1E64S0=" /></div>
<label for="money">金额</label>
<input id="money" name="money" size="30" type="text" />
<label for="acct_type">账户类型</label>
<input id="acct_type" name="acct_type" size="30" type="text" />
<input name="commit" type="submit" value="提交" />
</form>