<div class="col-sm-3">
  <div class="block-content-vertical-menu">
    <h3 class="head">怀特兄弟</h3>
    <div class="inner">
      <p> 提起德国美食，不能不提起德国香肠。他们制作的香肠有1500种以上。德国的国菜就是在酸卷心菜上铺满各式香肠。</p>
      <p>秉承怀特兄弟230余年产品品牌的严格工艺和配方，采用浙江青莲食品的黑毛猪肉，将德国香肠的性价比直接提升到秒杀尖叫的程度。</p>
    </div>
  </div>
</div>
<div class="col-sm-9">
  <div class="row mega-products">
    <div class="col-sm-4 mega-product">
      <div class="product-avatar">
        <a class="product-img" href="/products/a01270018"><img src="http://www.trade-v.com/images/a0127/a01270002_m.jpg" alt="【139美食节特惠】 图林根烤肠3包免邮更送试吃装  仅限江浙沪"></a>
      </div>
      <div class="product-name">
        <a href="/products/a01270018">【139美食节特惠】 图林根烤肠3包免邮更送试吃装  仅限江浙沪</a>
      </div>
      <div class="price-box">
        <span class="product-price">￥180.0</span>
        <span class="product-price-old">￥244.0</span>
      </div>
      <div class="product-star">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
    </div>
    <div class="col-sm-4 mega-product">
      <div class="product-avatar">
        <a class="product-img" href="/products/a01270017"><img src="http://www.trade-v.com/images/a0127/a01270005_m.jpg" alt="【139美食节特惠】 德国奶酪肠3包免邮更送试吃装  仅限江浙沪"></a>
      </div>
      <div class="product-name">
        <a href="/products/a01270017">【139美食节特惠】 德国奶酪肠3包免邮更送试吃装  仅限江浙沪</a>
      </div>
      <div class="price-box">
        <span class="product-price">￥238.0</span>
        <span class="product-price-old">￥324.0</span>
      </div>
      <div class="product-star">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
    </div>
    <div class="col-sm-4 mega-product">
      <div class="product-avatar">
        <a class="product-img" href="/products/a01270016"><img src="http://www.trade-v.com/images/a0127/a01270014_m.jpg" alt="【139美食节特惠】 西班牙烤肠3包免邮更送试吃装  仅限江浙沪"></a>
      </div>
      <div class="product-name">
        <a href="/products/a01270016">【139美食节特惠】 西班牙烤肠3包免邮更送试吃装  仅限江浙沪</a>
      </div>
      <div class="price-box">
        <span class="product-price">￥210.0</span>
        <span class="product-price-old">￥288.0</span>
      </div>
      <div class="product-star">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
    </div>
  </div>
</div>
