<li>
  <a href="/brands/jiapei" target="_blank">
    <img alt="Home03-slide1" src="http://www.trade-v.com/images/0000/home03-slide1.jpg" />
  </a>
</li>
<li>
  <a href="/gallery/558" target="_blank">
    <img alt="Home03-slide2" src="http://www.trade-v.com/images/0000/home03-slide2.jpg" />
  </a>
</li>
<li>
  <a href="/gallery/489" target="_blank">
    <img alt="Home03-slide3" src="http://www.trade-v.com/images/0000/home03-slide3.jpg" />
  </a>
</li>
<li>
  <a href="/gallery/535" target="_blank">
    <img alt="Home03-slide4" src="http://www.trade-v.com/images/0000/home03-slide4.jpg" />
  </a>
</li>