
<div class="col-sm-4 col-md-3">
  <!-- specail -->
  <div class="block block-specail3">
    <div class="block-head">
      <h4 class="widget-title">特别推荐</h4>
    </div>
    <div class="block-inner">
      <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":2},"600":{"items":2},"768":{"items":1}}'>


        <li class="product">
          <div class="product-container">
            <div class="product-left">
              <div class="product-thumb">
                <a href="/products/a01300011" class="product-img" target="_blank">
                  <img alt="【包邮】Cloud of fire火焰酒 西班牙进口火焰云 火焰酒起泡酒 魔幻云火焰" src="http://www.trade-v.com/images/a0130/a01300011_m.jpg" />
                </a>                                <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
              </div>
            </div>
            <div class="product-right">
              <div class="product-name">
                <a href="/products/a01300011" target="_blank">【包邮】Cloud of fire火焰酒 西班牙进口火焰云 火焰酒起泡酒 魔幻云火焰</a>
              </div>
              <div class="price-box">
                <span class="product-price">￥139.0</span>
                <span class="product-price-old">￥158.0</span>
              </div>
              <div class="product-button">
                <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01300011">收藏</a>
                <a class="btn-add-comparre" title="Add to Compare" href="/products/a01300011">比较</a>
                <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01300011">购买<span class="icon"></span></a>
              </div>
            </div>
          </div>
        </li>
        <li class="product">
          <div class="product-container">
            <div class="product-left">
              <div class="product-thumb">
                <a href="/products/a01320013" class="product-img" target="_blank">
                  <img alt="意大利原产进口Go*Do 戈多 有机巧克力 35g" src="http://www.trade-v.com/images/a0132/a01320001_m.jpg" />
                </a>                                <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
              </div>
            </div>
            <div class="product-right">
              <div class="product-name">
                <a href="/products/a01320013" target="_blank">意大利原产进口Go*Do 戈多 有机巧克力 35g</a>
              </div>
              <div class="price-box">
                <span class="product-price">￥10.0</span>
                <span class="product-price-old">￥18.0</span>
              </div>
              <div class="product-button">
                <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01320013">收藏</a>
                <a class="btn-add-comparre" title="Add to Compare" href="/products/a01320013">比较</a>
                <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01320013">购买<span class="icon"></span></a>
              </div>
            </div>
          </div>
        </li>
        <li class="product">
          <div class="product-container">
            <div class="product-left">
              <div class="product-thumb">
                <a href="/products/a01320004" class="product-img" target="_blank">
                  <img alt="希腊进口食品 惬琵妲果酱" src="http://www.trade-v.com/images/a0132/a01320004_m.jpg" />
                </a>                                <a title="Quick View" href="#" class="btn-quick-view">Quick View</a>
              </div>
            </div>
            <div class="product-right">
              <div class="product-name">
                <a href="/products/a01320004" target="_blank">希腊进口食品 惬琵妲果酱</a>
              </div>
              <div class="price-box">
                <span class="product-price">￥11.0</span>
                <span class="product-price-old">￥39.0</span>
              </div>
              <div class="product-button">
                <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01320004">收藏</a>
                <a class="btn-add-comparre" title="Add to Compare" href="/products/a01320004">比较</a>
                <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01320004">购买<span class="icon"></span></a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- ./specail -->
</div>
<div class="col-sm-8 col-md-9 col-xs-12">
  <!-- new-arrivals -->
  <div class="block3 block-new-arrivals">
    <div class="block-head">
      <h3 class="block-title">推荐品牌馆</h3>
      <ul class="nav-tab default">
        <li class="link-all"><a href="/suppliers/131" data-toggle="tab">美馔屋</a></li>
        <li class="link-all"><a href="/suppliers/130" data-toggle="tab">果鲜帮</a></li>
        <li class="link-all"><a href="/suppliers/127" data-toggle="tab">怀特兄弟</a></li>
        <li class="link-all"><a href="/suppliers/132" data-toggle="tab">百岁康</a></li>
      </ul>
    </div>
    <div class="block-inner">
      <div class="tab-container">
        <div class="tab-panel active" id="#tab-supplier-goods">
          <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":2},"600":{"items":3},"768":{"items":2},"1000":{"items":3},"1200":{"items":4}}'>
            <li class="product">
              <div class="product-container">
                <div class="product-left">
                  <div class="product-thumb">
                    <a class="product-img" href="/products/a01270016"><img src="http://www.trade-v.com/images/a0127/a01270014_m.jpg" alt="Product"></a>
                    <a title="Quick View" href="/products/a01270016" class="btn-quick-view">Quick View</a>
                  </div>
                </div>
                <div class="product-right">
                  <div class="product-name">
                    [怀特兄弟]
                    <a href="/products/a01270016">【139美食节特惠】 西班牙烤肠3包免邮更送试吃装  仅限江浙沪</a>
                  </div>
                  <div class="price-box">
                    <span class="product-price">￥210.0</span>
                    <span class="product-price-old">￥288.0</span>
                  </div>
                  <div class="product-button">
                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01270016">收藏</a>
                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01270016">比较</a>
                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01270016">购买<span class="icon"></span></a>
                  </div>
                </div>
              </div>
            </li>
            <li class="product">
              <div class="product-container">
                <div class="product-left">
                  <div class="product-thumb">
                    <a class="product-img" href="/products/a01330005"><img src="http://www.trade-v.com/images/a0133/a01330005_m.jpg" alt="Product"></a>
                    <a title="Quick View" href="/products/a01330005" class="btn-quick-view">Quick View</a>
                  </div>
                </div>
                <div class="product-right">
                  <div class="product-name">
                    [贸威]
                    <a href="/products/a01330005">担担拌面套餐 30元起送</a>
                  </div>
                  <div class="price-box">
                    <span class="product-price">￥28.0</span>
                    <span class="product-price-old">￥35.0</span>
                  </div>
                  <div class="product-button">
                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01330005">收藏</a>
                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01330005">比较</a>
                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01330005">购买<span class="icon"></span></a>
                  </div>
                </div>
              </div>
            </li>
            <li class="product">
              <div class="product-container">
                <div class="product-left">
                  <div class="product-thumb">
                    <a class="product-img" href="/products/a01390004"><img src="http://www.trade-v.com/images/a0139/a01390004_m.jpg" alt="Product"></a>
                    <a title="Quick View" href="/products/a01390004" class="btn-quick-view">Quick View</a>
                  </div>
                </div>
                <div class="product-right">
                  <div class="product-name">
                    [果鲜帮]
                    <a href="/products/a01390004">The Fresh Party「金玉满堂套餐」5人份</a>
                  </div>
                  <div class="price-box">
                    <span class="product-price">￥999.0</span>
                    <span class="product-price-old">￥1080.0</span>
                  </div>
                  <div class="product-button">
                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01390004">收藏</a>
                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01390004">比较</a>
                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01390004">购买<span class="icon"></span></a>
                  </div>
                </div>
              </div>
            </li>
            <li class="product">
              <div class="product-container">
                <div class="product-left">
                  <div class="product-thumb">
                    <a class="product-img" href="/products/a01400024"><img src="http://www.trade-v.com/images/a0140/a01400024_m.jpg" alt="Product"></a>
                    <a title="Quick View" href="/products/a01400024" class="btn-quick-view">Quick View</a>
                  </div>
                </div>
                <div class="product-right">
                  <div class="product-name">
                    [美馔屋]
                    <a href="/products/a01400024">吉拉多生蚝 #1 (106-145g)/Gillardeau 48只的价格</a>
                  </div>
                  <div class="price-box">
                    <span class="product-price">￥1388.0</span>
                    <span class="product-price-old">￥1488.0</span>
                  </div>
                  <div class="product-button">
                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01400024">收藏</a>
                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01400024">比较</a>
                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01400024">购买<span class="icon"></span></a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
