<div class="col-sm-3">
  <div class="block-content-vertical-menu border banner-hover">
    <a href="/products/a01160012"><img src="http://7xnh1s.com1.z0.glb.clouddn.com/images/a0116/a01160012_m.jpg" alt="Banner"></a>
  </div>
</div>
<div class="col-sm-5">
  <div class="block-content-vertical-menu banner-hover">
    <a href="/products/a01160012">
      <img src="http://7xnh1s.com1.z0.glb.clouddn.com/images/brands/b160.jpg" alt="Banner">
    </a>
  </div>
  <div class="block-content-vertical-menu">
    <div class="inner">
      <p>紫罗兰莎当妮酒体精美、口感芬芳，富有平滑感。散发出成熟桃子和甜瓜的芳香，而且又夹带着丰富的奶油层次感，余味中透出新鲜的果酸味。适合与鸡肉及海鲜等搭配，此时饮用最佳。 </p>
      <a href="/products/a01160012" class="button-radius">立即购买<span class="icon"></span></a>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="block-content-vertical-menu border-left">
    <h3 class="head">商品分类</h3>
    <div class="inner">
      <ul class="vertical-menu-link">
        <li><a href="/gallery/489"><span class="text">啤酒</span></a></li>
        <li><a href="/gallery/535"><span class="text">葡萄酒</span></a></li>
        <li><a href="/gallery/564"><span class="text">干红</span></a></li>
        <li><a href="/gallery/565"><span class="text">干白</span></a></li>
        <li><a href="/gallery/566"><span class="text">起泡酒</span></a></li>
        <li><a href="/gallery/616"><span class="text">威士忌</span></a></li>
        <li><a href="/gallery/623"><span class="text">黄酒</span></a></li>
        <li><a href="/gallery/624"><span class="text">封缸酒</span></a></li>
        <li><a href="/gallery/562"><span class="text">白酒</span></a></li>
      </ul>
    </div>
  </div>
</div>