<%if @id=='1'%>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <!-- carousel-slide -->
<div class="block carousel-slide">
    <div class="block-head">
        <h4 class="widget-title">限时特价</h4>
    </div>
    <div class="block-inner">

        <ul class="list-slide kt-owl-carousel" data-responsive='{"0":{"items":2},"600":{"items":2},"768":{"items":1}}' data-nav="true" data-loop="true">
                <li>
                    <div class="image">
                        <a href="/products/a01300010" target="_blank">
                            <img alt="【包邮】意大利马天尼甜气泡酒，新闺蜜时代官方合作伙伴，转为闺蜜欢庆而生" src="/images/a0130/a01300010_m.jpg" />
</a>                    </div>
                  <div class="title">
                    <a href="/products/a01300010" target="_blank">【包邮】意大利马天尼甜气泡酒，新闺蜜时代官方合作伙伴，转为闺蜜欢庆而生</a>
                  </div>
                  <div class="button-action">
                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01300010">
                        立即购买<span class="icon"></span>
                    </a>
                  </div>
                </li>
                <li>
                    <div class="image">
                        <a href="/products/a01300014" target="_blank">
                            <img alt="意大利进口圣培露充气天然矿泉水250ml  米其林餐厅推荐搭配饮用" src="/images/a0130/a01300014_m.jpg" />
</a>                    </div>
                  <div class="title">
                    <a href="/products/a01300014" target="_blank">意大利进口圣培露充气天然矿泉水250ml  米其林餐厅推荐搭配饮用</a>
                  </div>
                  <div class="button-action">
                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01300014">
                        立即购买<span class="icon"></span>
                    </a>
                  </div>
                </li>
                <li>
                    <div class="image">
                        <a href="/products/a01320012" target="_blank">
                            <img alt="GIOGAIA MOSCATELLO乔卡雅麝香甜白起泡酒" src="/images/a0132/a01320012_m.jpg" />
</a>                    </div>
                  <div class="title">
                    <a href="/products/a01320012" target="_blank">GIOGAIA MOSCATELLO乔卡雅麝香甜白起泡酒</a>
                  </div>
                  <div class="button-action">
                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01320012">
                        立即购买<span class="icon"></span>
                    </a>
                  </div>
                </li>

         </ul>
    </div>
</div>
<!-- ./carousel-slide -->
        </div>
        <div class="col-sm-8 col-md-9 col-xs-12">
           <!-- Hot deals -->
            <div class="block3 block-hotdeals">
                <div class="block-head">
                    <h3 class="block-title">最新上架</h3>
                    <a class="link-all" href="/tuan">更多</a>
                </div>
                <div class="block-inner">
                    <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":2},"600":{"items":3},"768":{"items":2},"1000":{"items":3},"1200":{"items":4}}'>

                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                                <a class="product-img" href="/products/a01330004"><img src="/images/a0133/a01330004_m.jpg" alt="Product"></a>
                                                <a title="Quick View" href="/products/a01330004" class="btn-quick-view">Quick View</a>
                                            </div>
                                        </div>
                                        <div class="product-right">
                                            <div class="product-name">
                                                <a href="/products/a01330004">红油辣面套餐 30元起送</a>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">￥28.0</span>
                                                <span class="product-price-old">￥35.0</span>
                                            </div>
                                    <div class="product-button">
                                        <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01330004">收藏</a>
                                                <a class="btn-add-comparre" title="Add to Compare" href="/products/a01330004">比较</a>
                                                <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01330004">购买<span class="icon"></span></a>
                                    </div>
                                </div>
                                <div class="product-count-down">
                                    <span class="countdown-lastest" data-y="2015" data-m="10" data-d="1" data-h="00" data-i="00" data-s="00"></span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                                <a class="product-img" href="/products/a01190015"><img src="/images/a0119/a01190015_m.jpg" alt="Product"></a>
                                                <a title="Quick View" href="/products/a01190015" class="btn-quick-view">Quick View</a>
                                            </div>
                                        </div>
                                        <div class="product-right">
                                            <div class="product-name">
                                                <a href="/products/a01190015">国际配送鲜花「夏日阳光」上海邮政礼仪鲜花 美国礼意送达</a>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">￥760.0</span>
                                                <span class="product-price-old">￥836.0</span>
                                            </div>
                                    <div class="product-button">
                                        <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01190015">收藏</a>
                                                <a class="btn-add-comparre" title="Add to Compare" href="/products/a01190015">比较</a>
                                                <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01190015">购买<span class="icon"></span></a>
                                    </div>
                                </div>
                                <div class="product-count-down">
                                    <span class="countdown-lastest" data-y="2015" data-m="10" data-d="1" data-h="00" data-i="00" data-s="00"></span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                                <a class="product-img" href="/products/a01320012"><img src="/images/a0132/a01320012_m.jpg" alt="Product"></a>
                                                <a title="Quick View" href="/products/a01320012" class="btn-quick-view">Quick View</a>
                                            </div>
                                        </div>
                                        <div class="product-right">
                                            <div class="product-name">
                                                <a href="/products/a01320012">GIOGAIA MOSCATELLO乔卡雅麝香甜白起泡酒</a>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">￥240.0</span>
                                                <span class="product-price-old">￥326.0</span>
                                            </div>
                                    <div class="product-button">
                                        <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01320012">收藏</a>
                                                <a class="btn-add-comparre" title="Add to Compare" href="/products/a01320012">比较</a>
                                                <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01320012">购买<span class="icon"></span></a>
                                    </div>
                                </div>
                                <div class="product-count-down">
                                    <span class="countdown-lastest" data-y="2015" data-m="10" data-d="1" data-h="00" data-i="00" data-s="00"></span>
                                </div>
                            </div>
                        </li>
                        <li class="product">
                            <div class="product-container">
                                <div class="product-left">
                                    <div class="product-thumb">
                                                <a class="product-img" href="/products/a01320008"><img src="/images/a0132/a01320008_m.jpg" alt="Product"></a>
                                                <a title="Quick View" href="/products/a01320008" class="btn-quick-view">Quick View</a>
                                            </div>
                                        </div>
                                        <div class="product-right">
                                            <div class="product-name">
                                                <a href="/products/a01320008">【三箱江浙沪包邮】德国进口沃特牌黑啤酒</a>
                                            </div>
                                            <div class="price-box">
                                                <span class="product-price">￥130.0</span>
                                                <span class="product-price-old">￥192.0</span>
                                            </div>
                                    <div class="product-button">
                                        <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01320008">收藏</a>
                                                <a class="btn-add-comparre" title="Add to Compare" href="/products/a01320008">比较</a>
                                                <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01320008">购买<span class="icon"></span></a>
                                    </div>
                                </div>
                                <div class="product-count-down">
                                    <span class="countdown-lastest" data-y="2015" data-m="10" data-d="1" data-h="00" data-i="00" data-s="00"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="block-footer">
                        <div class="text-center banner-hover">
                            <a href="#"><img src="/images/0000/adv-avantage.png" alt="Banner"></a>
                        </div>
                    </div>

            </div>
            <!-- Hot deals -->
        </div>
    </div>
<%end%>
<%if @id=='2'%>


    <div class="row">
        <div class="col-sm-4 col-md-3">
            <!-- Top review -->
<div class="block block-top-review">
    <div class="block-head">
        <h4 class="widget-title">人气商品</h4>
    </div>
    <div class="block-inner">
        <div class="kt-owl-carousel" data-nav="true" data-loop="true" data-items="1">
            <ul class="list-product">
                <li class="product active">
                    <a href="/products/a0920003" class="product-name" target="_blank">
                        <span class="order">1</span>
                        芭喜深蓝丝绒装榛仁夹心巧克力粒BACI Chocolate
</a>                    <div class="product-info">
                        <div class="price-box">
                            <SPAN class="product-price">￥130.0</SPAN>
                            <SPAN class="product-price-old">￥168.0</SPAN>                                          </div>
                        <div class="product-star">
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star-half-o"></I>
                        </div>
                        <div class="product-img">
                            <a href="/products/a0920003" target="_blank">
                                <img alt="芭喜深蓝丝绒装榛仁夹心巧克力粒BACI Chocolate" src="/images/a092/a0920003_m.jpg" />
</a>                        </div>
                    </div>
                </li>
                <li class="product ">
                    <a href="/products/a0650001" class="product-name" target="_blank">
                        <span class="order">2</span>
                        Smarty机灵食品有机烤燕麦片（全网最低价）
</a>                    <div class="product-info">
                        <div class="price-box">
                            <SPAN class="product-price">￥89.0</SPAN>
                            <SPAN class="product-price-old">￥105.0</SPAN>                                          </div>
                        <div class="product-star">
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star-half-o"></I>
                        </div>
                        <div class="product-img">
                            <a href="/products/a0650001" target="_blank">
                                <img alt="Smarty机灵食品有机烤燕麦片（全网最低价）" src="/images/a065/a0650001_m.jpg" />
</a>                        </div>
                    </div>
                </li>
                <li class="product ">
                    <a href="/products/a01270005" class="product-name" target="_blank">
                        <span class="order">3</span>
                        德国奶酪肠 1KG 亲：三件包邮哦
</a>                    <div class="product-info">
                        <div class="price-box">
                            <SPAN class="product-price">￥80.0</SPAN>
                            <SPAN class="product-price-old">￥108.0</SPAN>                                          </div>
                        <div class="product-star">
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star-half-o"></I>
                        </div>
                        <div class="product-img">
                            <a href="/products/a01270005" target="_blank">
                                <img alt="德国奶酪肠 1KG 亲：三件包邮哦" src="/images/a0127/a01270005_m.jpg" />
</a>                        </div>
                    </div>
                </li>
                    </ul>
                    <ul class="list-product">
                <li class="product ">
                    <a href="/products/a01270001" class="product-name" target="_blank">
                        <span class="order">4</span>
                        纽伦堡烤肠包邮 1KG 亲：三件包邮哦
</a>                    <div class="product-info">
                        <div class="price-box">
                            <SPAN class="product-price">￥60.0</SPAN>
                            <SPAN class="product-price-old">￥98.0</SPAN>                                          </div>
                        <div class="product-star">
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star-half-o"></I>
                        </div>
                        <div class="product-img">
                            <a href="/products/a01270001" target="_blank">
                                <img alt="纽伦堡烤肠包邮 1KG 亲：三件包邮哦" src="/images/a0127/a01270001_m.jpg" />
</a>                        </div>
                    </div>
                </li>
                <li class="product ">
                    <a href="/products/a01280002" class="product-name" target="_blank">
                        <span class="order">5</span>
                        新西兰zespri佳沛金果原装27只装 单果124--134 克
</a>                    <div class="product-info">
                        <div class="price-box">
                            <SPAN class="product-price">￥208.0</SPAN>
                            <SPAN class="product-price-old">￥218.0</SPAN>                                          </div>
                        <div class="product-star">
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star-half-o"></I>
                        </div>
                        <div class="product-img">
                            <a href="/products/a01280002" target="_blank">
                                <img alt="新西兰zespri佳沛金果原装27只装 单果124--134 克" src="/images/a0128/a01280001_m.jpg" />
</a>                        </div>
                    </div>
                </li>
                <li class="product active">
                    <a href="/products/a01270015" class="product-name" target="_blank">
                        <span class="order">6</span>
                        西班牙烤肠  仅限上海
</a>                    <div class="product-info">
                        <div class="price-box">
                            <SPAN class="product-price">￥72.0</SPAN>
                            <SPAN class="product-price-old">￥98.0</SPAN>                                          </div>
                        <div class="product-star">
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star"></I>
                            <I class="fa fa-star-half-o"></I>
                        </div>
                        <div class="product-img">
                            <a href="/products/a01270015" target="_blank">
                                <img alt="西班牙烤肠  仅限上海" src="/images/a0127/a01270014_m.jpg" />
</a>                        </div>
                    </div>
                </li>
                    </ul>
                    <ul class="list-product">
            </ul>
        </div>
    </div>
</div>
<!-- ./Top review -->
            <!-- tags -->
<div class="block block-tags">
    <div class="block-head">
        <h4 class="widget-title">热门标签</h4></div>
        <div class="block-inner kt-owl-carousel" data-nav="true" data-loop="true" data-items="1" data-autoplay="true">
            <div class="tagcloud">
                <a href="/search?q=进口+巧克力">进口 巧克力</a>
                <a href="/search?q=怀特兄弟">怀特兄弟</a>
                <a href="/search?q=德国香肠">德国香肠</a>
                <a href="/search?q=德国啤酒">德国啤酒</a>
                <a href="/search?q=鲜花">鲜花</a>
                    </div>
                    <div class="tagcloud">
                <a href="/search?q=冰鲜+牛肝菌">牛肝菌</a>
                <a href="/search?q=冰鲜松茸">冰鲜松茸</a>
                <a href="/search?q=火龙果">火龙果</a>
                <a href="/search?q=葡萄酒">葡萄酒</a>
        </div>
    </div>
</div>
<!-- ./tags -->
        </div>
        <div class="col-sm-8 col-md-9 col-xs-12">
            <!-- group banner -->
            <div class="group-banner3 banner-hover">

                <a class="banner banner1" href="/brands/jiapei"><img src="/images/0000/images01.jpg" alt="Banner"></a>
                <a class="banner banner2" href="/products/a01300001"><img src="/images/0000/images02.png" alt="Banner"></a>
                <a class="banner banner3" href="/products/a01300065"><img src="/images/0000/images03.png" alt="Banner"></a>
                <a class="banner banner4" href="/products/a01290003"><img src="/images/0000/images05.png" alt="Banner"></a>
            </div>
            <!-- ./group banner -->

            <div class="block3 tab-cat-products">
                <div class="block-head">
                    <ul class="nav-tab tab-category" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":2},"600":{"items":3},"768":{"items":6},"1000":{"items":6},"1200":{"items":6}}'>
                      <li class="active"><a href="#tab-132" data-toggle="tab">粮油饮料馆</a></li>
                      <li class=""><a href="#tab-130" data-toggle="tab">生鲜果蔬馆</a></li>
                      <li class=""><a href="#tab-126" data-toggle="tab">德国香肠馆</a></li>
                      <li class=""><a href="#tab-125" data-toggle="tab">佐餐美酒馆</a></li>
                      <li class=""><a href="#tab-127" data-toggle="tab">养生珍品馆</a></li>
                      <li class=""><a href="#tab-128" data-toggle="tab">酒类茶叶馆</a></li>
                    </ul>
                </div>
                <div class="block-inner">
                    <div class="tab-container">
                        <div class="tab-panel active" id="tab-132">
                            <div class="sub-cat">
                                <ul>
                                  <li><a href="/gallery/501">方便面饭</a></li>
                                  <li><a href="/gallery/617">麦片</a></li>
                                  <li><a href="/gallery/636">小米</a></li>
                                  <li><a href="/gallery/597">东北大米</a></li>
                                  <li><a href="/gallery/585">卓玛泉饮用水</a></li>
                                </ul>
                            </div>
                            <div class="cat-product">
                                <ul class="products kt-owl-carousel" data-responsive='{"0":{"items":2},"600":{"items":2},"768":{"items":2},"1200":{"items":3}}' data-nav="true" data-loop="true" data-margin="22">
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01330004"><img src="/images/a0133/a01330004_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01330004" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01330004">红油辣面套餐 30元起送</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥28.0</span>
                                                    <span class="product-price-old">￥35.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01330004">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01330004">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01330004">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01330003"><img src="/images/a0133/a01330003_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01330003" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01330003">嫩煎西冷套餐 30元起送</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥38.0</span>
                                                    <span class="product-price-old">￥46.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01330003">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01330003">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01330003">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01330002"><img src="/images/a0133/a01330002_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01330002" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01330002">罗勒绿酱套餐 30元起送</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥30.0</span>
                                                    <span class="product-price-old">￥38.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01330002">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01330002">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01330002">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01330001"><img src="/images/a0133/a01330001_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01330001" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01330001">番茄红酱套餐 30元起送</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥28.0</span>
                                                    <span class="product-price-old">￥35.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01330001">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01330001">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01330001">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-panel " id="tab-130">
                            <div class="sub-cat">
                                <ul>
                                  <li><a href="/gallery/637">基地水果</a></li>
                                  <li><a href="/gallery/652">释迦</a></li>
                                  <li><a href="/gallery/621">水果礼盒</a></li>
                                  <li><a href="/gallery/631">洛川苹果</a></li>
                                  <li><a href="/gallery/605">礼尚往来</a></li>
                                  <li><a href="/gallery/606">品尊系列</a></li>
                                  <li><a href="/gallery/607">阿根廷牛肉</a></li>
                                  <li><a href="/gallery/608">礼盒产品</a></li>
                                  <li><a href="/gallery/610">好客者系列</a></li>
                                  <li><a href="/gallery/595">蔬菜卡券</a></li>
                                  <li><a href="/gallery/633">礼卡</a></li>
                                </ul>
                            </div>
                            <div class="cat-product">
                                <ul class="products kt-owl-carousel" data-responsive='{"0":{"items":2},"600":{"items":2},"768":{"items":2},"1200":{"items":3}}' data-nav="true" data-loop="true" data-margin="22">
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01300066"><img src="/images/a0130/a01300066_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01300066" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01300066"> 现卖现摘 广西火龙果 5斤装包邮</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥58.0</span>
                                                    <span class="product-price-old">￥88.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01300066">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01300066">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01300066">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01290005"><img src="/images/a0129/a01290005_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01290005" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01290005">【江浙沪包邮】奉贤锦绣金奖黄桃  每只7两以上 8只装</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥168.0</span>
                                                    <span class="product-price-old">￥198.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01290005">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01290005">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01290005">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01290004"><img src="/images/a0129/a01290004_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01290004" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01290004">【江浙沪包邮】奉贤锦绣金奖黄桃  每只6两--7两 12只装</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥138.0</span>
                                                    <span class="product-price-old">￥168.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01290004">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01290004">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01290004">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01290003"><img src="/images/a0129/a01290003_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01290003" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01290003">【江浙沪包邮】奉贤锦绣金奖黄桃  每只5两--6两 12只装</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥98.0</span>
                                                    <span class="product-price-old">￥128.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01290003">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01290003">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01290003">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-panel " id="tab-126">
                            <div class="sub-cat">
                                <ul>
                                  <li><a href="/gallery/561">香肠</a></li>
                                  <li><a href="/gallery/560">火腿</a></li>
                                  <li><a href="/gallery/559">培根</a></li>
                                  <li><a href="/gallery/578">其它</a></li>
                                </ul>
                            </div>
                            <div class="cat-product">
                                <ul class="products kt-owl-carousel" data-responsive='{"0":{"items":2},"600":{"items":2},"768":{"items":2},"1200":{"items":3}}' data-nav="true" data-loop="true" data-margin="22">
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01270005"><img src="/images/a0127/a01270005_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01270005" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01270005">德国奶酪肠 1KG 亲：三件包邮哦</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥80.0</span>
                                                    <span class="product-price-old">￥108.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01270005">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01270005">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01270005">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01270001"><img src="/images/a0127/a01270001_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01270001" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01270001">纽伦堡烤肠包邮 1KG 亲：三件包邮哦</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥60.0</span>
                                                    <span class="product-price-old">￥98.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01270001">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01270001">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01270001">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01270018"><img src="/images/a0127/a01270002_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01270018" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01270018">【139美食节特惠】 图林根烤肠3包免邮更送试吃装  仅限江浙沪</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥180.0</span>
                                                    <span class="product-price-old">￥244.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01270018">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01270018">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01270018">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01270017"><img src="/images/a0127/a01270005_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01270017" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01270017">【139美食节特惠】 德国奶酪肠3包免邮更送试吃装  仅限江浙沪</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥238.0</span>
                                                    <span class="product-price-old">￥324.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01270017">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01270017">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01270017">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-panel " id="tab-125">
                            <div class="sub-cat">
                                <ul>
                                  <li><a href="/gallery/489">啤酒</a></li>
                                  <li><a href="/gallery/565">干白</a></li>
                                  <li><a href="/gallery/616">威士忌</a></li>
                                  <li><a href="/gallery/562">白酒</a></li>
                                  <li><a href="/gallery/564">干红</a></li>
                                  <li><a href="/gallery/624">封缸酒</a></li>
                                </ul>
                            </div>
                            <div class="cat-product">
                                <ul class="products kt-owl-carousel" data-responsive='{"0":{"items":2},"600":{"items":2},"768":{"items":2},"1200":{"items":3}}' data-nav="true" data-loop="true" data-margin="22">
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01320008"><img src="/images/a0132/a01320008_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01320008" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01320008">【三箱江浙沪包邮】德国进口沃特牌黑啤酒</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥130.0</span>
                                                    <span class="product-price-old">￥192.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01320008">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01320008">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01320008">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01300002"><img src="/images/a0130/a01300002_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01300002" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01300002">【江浙沪皖包邮】德国进口布鲁斯堡烈性纯麦黑啤酒500ml*24听装</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥210.0</span>
                                                    <span class="product-price-old">￥230.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01300002">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01300002">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01300002">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01300001"><img src="/images/a0130/a01300001_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01300001" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01300001">【江浙沪皖包邮】德国布鲁斯堡纯麦白啤酒 500ml*24听</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥210.0</span>
                                                    <span class="product-price-old">￥220.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01300001">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01300001">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01300001">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a01300004"><img src="/images/a0130/a01300004_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a01300004" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a01300004">比利时啤酒督威啤酒330ml*24</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥230.0</span>
                                                    <span class="product-price-old">￥240.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a01300004">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a01300004">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a01300004">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-panel " id="tab-127">
                            <div class="sub-cat">
                                <ul>
                                  <li><a href="/gallery/537">蜂蜜</a></li>
                                  <li><a href="/gallery/642">枸杞</a></li>
                                  <li><a href="/gallery/639">燕窝</a></li>
                                  <li><a href="/gallery/643">胶原蛋白</a></li>
                                  <li><a href="/gallery/651">红米</a></li>
                                  <li><a href="/gallery/655">山珍美味</a></li>
                                  <li><a href="/gallery/528">亚麻籽油</a></li>
                                  <li><a href="/gallery/596">铁棍山药</a></li>
                                  <li><a href="/gallery/614">加拿大海参</a></li>
                                  <li><a href="/gallery/615">松茸</a></li>
                                  <li><a href="/gallery/619">冷水鱼</a></li>
                                </ul>
                            </div>
                            <div class="cat-product">
                                <ul class="products kt-owl-carousel" data-responsive='{"0":{"items":2},"600":{"items":2},"768":{"items":2},"1200":{"items":3}}' data-nav="true" data-loop="true" data-margin="22">
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a040002"><img src="/images/a04/a040002_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a040002" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a040002">【温德尔庄园】加拿大进口一级100%原蜜250克装，全国包邮！</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥342.0</span>
                                                    <span class="product-price-old">￥380.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a040002">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a040002">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a040002">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a040001"><img src="/images/a04/a040001_m.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a040001" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a040001"> 【温德尔庄园】加拿大进口一级100%原蜜340克装，全国包邮！ </a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥405.0</span>
                                                    <span class="product-price-old">￥450.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a040001">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a040001">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a040001">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-panel " id="tab-128">
                            <div class="sub-cat">
                                <ul>
                                  <li><a href="/gallery/638">高山有机茶</a></li>
                                  <li><a href="/gallery/576">养生茶</a></li>
                                  <li><a href="/gallery/626">皇家棒茶系列</a></li>
                                  <li><a href="/gallery/627">原茶系列</a></li>
                                  <li><a href="/gallery/628">果茶系列</a></li>
                                </ul>
                            </div>
                            <div class="cat-product">
                                <ul class="products kt-owl-carousel" data-responsive='{"0":{"items":2},"600":{"items":2},"768":{"items":2},"1200":{"items":3}}' data-nav="true" data-loop="true" data-margin="22">
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a020008"><img src="/images/a02/a020008_a.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a020008" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a020008">紫云碧绿高山有机红茶200g。简洁原生态环保牛皮袋礼盒包装</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥288.0</span>
                                                    <span class="product-price-old">￥318.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a020008">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a020008">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a020008">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a020007"><img src="/images/a02/a020005_a.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a020007" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a020007">紫云碧绿高山有机生态一级绿茶</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥150.0</span>
                                                    <span class="product-price-old">￥180.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a020007">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a020007">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a020007">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a020021"><img src="/images/a02/a020021_a.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a020021" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a020021">紫云碧绿紫云禅茶高山有机生态茶绿茶礼品包装 明前特级牙头每盒净重120克</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥318.0</span>
                                                    <span class="product-price-old">￥358.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a020021">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a020021">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a020021">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product">
                                        <div class="product-container">
                                            <div class="product-left">
                                                <div class="product-thumb">
                                                    <a class="product-img" href="/products/a020020"><img src="/images/a02/a020020_a.jpg" alt="Product"></a>
                                                    <a title="Quick View" href="/products/a020020" class="btn-quick-view">Quick View</a>
                                                </div>
                                            </div>
                                            <div class="product-right">
                                                <div class="product-name">
                                                    <a href="/products/a020020">紫云碧绿紫云禅茶高山有机生态明前特级碧螺春</a>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">￥538.0</span>
                                                    <span class="product-price-old">￥588.0</span>
                                                </div>
                                                <div class="product-button">
                                                    <a class="btn-add-wishlist" title="Add to Wishlist" href="/products/a020020">收藏</a>
                                                    <a class="btn-add-comparre" title="Add to Compare" href="/products/a020020">比较</a>
                                                    <a class="button-radius btn-add-cart" title="Add to Cart" href="/products/a020020">购买<span class="icon"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%end%>
<%if @id =='3'%>
        <div class="row">
            <!-- banner -->
            <div class="block block-banner2">
                <div class="row">
                    <div class="box-left col-sm-12 col-md-8">
                        <div class="col-sm-6">
                            <div class="inner">
                                <h4><i>英国诺狮 Norsh</i></h4>
                                <h3><b>婴儿手工皂</b></h3>
                                <div class="content-text">
                                    <p>自然护理,使生活更美好<br>

                               ☆我们在全球选择最安全的原料；<br>

                                          ☆我们选择最自然的生产工艺；<br>

                                          ☆我们创造最环保的生产方式；<br>

                                          ☆我们使用最简洁的包装方法；</p>
                                </div>
                                <a href="/brands/norsh" class="button-radius">立即购买<span class="icon"></span></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <a href="#"><img src="/img/br-banner1.jpg" alt="Banner"></a>
                        </div>
                    </div>
                    <div class="box-right col-sm-12 col-md-4">
                        <div class="item i1">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5><i>Norsh</i></h5>
                                    <h5><b>婴儿牙刷</b></h5>
                                    <div class="content-text">
                                        <p>进口硅胶材质，安全无毒；婴幼儿训练牙刷，针对宝宝口腔设计</p>
                                    </div>
                                    <a href="/products/a0971005" class="button-radius">立即购买<span class="icon"></span></a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="pull-right" href="/products/a0971005"><img src="/images/a097/a0971005_m.jpg" alt="b8"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item i2" style="background: url(&#39;/img/b9.jpg&#39;) no-repeat right center;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5><i>Norsh</i></h5>
                                    <h5><b>硅胶小软勺0-4岁宝宝 </b></h5>
                                    <a href="/products/a0971007" class="button-radius">立即购买<span class="icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./banner -->

        </div>
<%end%>