// Place all the styles related to the Admin::Summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.summary {

  h3 {
    text-align: center;
  }
  
  .table-title {
    td {
      font-weight: bold;
    }
  }
  td {
    text-align: center;
  }
  a:hover {
    color: rgb(252, 136, 36);
  }
  .per-page {
    float:right;
  }
}
