<!-- block category -->
<div class="block block-category">
	<div class="block-head">
		<h5 class="widget-title">产地分类</h5>
	</div>
	<div class="block-inner">
		<div class="tab-container">
			<div id="tab-categories" class="tab-panel active">
				<ul class="categories">
					<%Ecstore::Country.all.each do |country|%>	
	                <li>
	                	<a href="<%=country_path(country,:gtype=>params[:gtype])%>" 						                		class="<%='active' if country.country_id.to_s == params[:id]%>">
							<span class="text"><%=country.country_name%></span>
							<span class="count">(14)</span>
						</a>
					</li>
					<%end%>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- ./block category -->
