
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/option3.css">
<link href="/stylesheets/css" rel="stylesheet" type="text/css">
<title>邦邦芒商城</title>
<style type="text/css"></style></head>
<body class="option3">
    <%=render "/shared/header"%>

    <div class="container">
        <div class="row">

            <div class="block block-breadcrumbs">
                <ul>
                    <li class="home">
                        <a href="/"><i class="fa fa-home"></i></a>
                        <span></span>
                    </li>
                    <li><a href="/member">个人中心</a>
                        <span></span>
                    </li>
                    <li> </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <%=render "/patch/shared/menu"%> 
                </div>
                <div class="col-sm-8 col-md-9">
                    <%= yield%>

                </div>
            </div>
        </div>
    </div>

    <%=render "/shared/footer"%>
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <!-- COUNTDOWN -->
    
    <!-- ./COUNTDOWN -->
    <script type="text/javascript" src="/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="/assets/area_seletor.js?body=1" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>

    <script type="text/javascript" src="/js/easyzoom.js"></script>

</body>
</html>

