<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/global.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/option3.css">
<link href="/stylesheets/css" rel="stylesheet" type="text/css">
<title>邦邦芒商城</title>
<style type="text/css"></style></head>
<body class="option3">

<!-- ./header -->

<%=render "/shared/header"%>

<%= yield%>
<%=render "/shared/footer"%>
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <!-- COUNTDOWN -->
    <script type="text/javascript" src="/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="/js/jquery.countdown.js"></script>
    <!-- ./COUNTDOWN -->
    <script type="text/javascript" src="/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
<!--cart-->
    <script type="text/javascript" src="/js/easyzoom.js"></script>
    <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
  <script src="/assets/store/cart.js?body=1" type="text/javascript"></script>
  
<!-order-->
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/area_seletor.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.ui.core.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.ui.datepicker.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.ui.datepicker-zh-CN.js?body=1" type="text/javascript"></script>
<script src="/assets/store/orders.js?body=1" type="text/javascript"></script>

</body>
</html>